{% extends "base.html" %}

{% block content %}
<article class="homepage">
    {{ section.content | safe }}
</article>

<section class="recent-posts">
    <p style=" font-size: 1.1rem; font-weight: bold; ">Recent Posts</p>
    {% set root = get_section(path="_index.md") %}
    {% set_global all_pages = [] %}
    {% for subsection_path in root.subsections %}
        {% set subsection = get_section(path=subsection_path) %}
        {% set_global all_pages = all_pages | concat(with=subsection.pages) %}
    {% endfor %}
    <ul class="post-list">
    {% for page in all_pages | sort(attribute="date") | reverse | slice(end=7) %}
        <li>
            <time datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d") }}</time>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock content %}
